// .colorPalette {
//   //white
//   color: #fff;

//   //red
//   color: #f28b82;

//   //orange
//   color: #fbbc04;

//   //yellow
//   color: #fff475;

//   //green
//   color: #ccff90;

//   //Teal
//   color: #a7ffeb;

//   //Blue
//   color: #cbf0f8;

//   //dark blue
//   color: #aecbfa;

//   //purple
//   color: #d7aefb;

//   //pink
//   color: #fdcfe8;

//   //brown
//   color: #e6c9a8;

//   //grey
//   color: #e8eaed;
// }

.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 2px;
  border: 1px solid;
}
