.card-container {
  margin-top: 25px;
}

.example-card {
  max-width: 400px;
  min-width: 200px;
}

.card-content {
  margin: 25px 15px 10px 25px;
}

// .card-content > mat-card {
//   width: 200px;
// }
