.header-content {
  display: inline-block;
  font-size: 100px;
  font-weight: 700;
  padding: 40 40 40 40;
  font-size: large;

  .f {
    color: blue;
  }

  .u {
    color: red;
  }

  .n {
    color: yellow;
  }

  .d {
    color: blue;
  }

  .o {
    color: green;
  }

  .o2 {
    color: red;
  }
}
