<div class="form-container">
  <form action="" class="form-content">
    <app-logo></app-logo>
    <div>
      <div class="head">
        <h2>Create Your Fundoo Account</h2>
      </div>
      <div class="name">
        <mat-form-field appearance="outline" class="element">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Enter firstname" />
          <mat-error></mat-error>
        </mat-form-field>
      </div>

      <div class="name">
        <mat-form-field appearance="outline" class="element">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Enter lastname" />
          <mat-error></mat-error>
        </mat-form-field>
      </div>

      <div class="email">
        <mat-form-field appearance="outline" class="element">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter email" />
          <mat-error></mat-error>
        </mat-form-field>
      </div>

      <div class="password">
        <mat-form-field appearance="outline" class="element">
          <mat-label>Password</mat-label>
          <input type matInput placeholder="Enter password" />
          <mat-error></mat-error>
          <mat-hint>Password 8 characters</mat-hint>
        </mat-form-field>
      </div>

      <div class="password">
        <mat-form-field appearance="outline" class="element">
          <mat-label>Confirm</mat-label>
          <input matInput placeholder="" />
          <mat-error></mat-error>
        </mat-form-field>
      </div>

      <div class="lastelement">
        <a href="" class="line">Sign in instead</a>
        <button mat-flat-button color="next">Next</button>
      </div>
    </div>
  </form>
</div>
