<div class="form-container" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <form
      action=""
      class="form-content"
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <app-logo></app-logo>
      <div>
        <div class="head">
          <h2>Create Your Fundoo Account</h2>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="15px"
        >
          <div>
            <mat-form-field appearance="outline" class="element">
              <mat-label>First Name</mat-label>
              <input
                matInput
                placeholder="Enter firstname"
                formControlName="firstname"
              />
              <mat-error *ngIf="firstname.errors?.required">
                First Name is a required field
              </mat-error>
              <mat-error *ngIf="firstname.errors?.pattern"
                >Invalid format</mat-error
              >
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="element">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                placeholder="Enter lastname"
                formControlName="lastname"
              />
              <mat-error *ngIf="lastname.errors?.required">
                Last Name is a required field
              </mat-error>
              <mat-error *ngIf="lastname.errors?.pattern"
                >Invalid Last Name</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="email">
          <mat-form-field appearance="outline" class="element">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter email" formControlName="email" />
            <mat-error *ngIf="email.errors?.required"
              >Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="email.errors?.email">Invalid email</mat-error>
          </mat-form-field>
        </div>

        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="15px"
        >
          <div class="password">
            <mat-form-field appearance="outline" class="element">
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                placeholder="Enter password"
                formControlName="password"
              />
              <mat-error *ngIf="password.errors?.required"
                >Password <strong>required</strong>
              </mat-error>

              <mat-error *ngIf="password.errors?.pattern"
                >Invalid Password</mat-error
              >

              <mat-hint
                >Use 8 or more characters with <br />
                a mix of letters, numbers & symbols</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="password">
            <mat-form-field appearance="outline" class="element">
              <mat-label>Confirm</mat-label>
              <input
                type="password"
                matInput
                placeholder=""
                formControlName="confirmPassword"
              />
              <mat-error *ngIf="confirmPassword.errors?.required">
                <strong>Required</strong> confirmation
              </mat-error>

              <mat-error *ngIf="confirmPassword.errors?.mustMatch"
                >Password should match</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <br />
        <br />
        <div
          class="lastelement"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="15px"
        >
          <div>
            <a href="" class="line">Sign in instead</a>
          </div>
          <div class="button">
            <button type="submit" mat-flat-button color="next">Next</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="image-content" fxHide.lt-sm>
    <img src="../../../assets/Images/googleSmall.PNG" alt="logo" />
  </div>
</div>
